body{
  padding-top: 10px;
}

div{
  font-family: 'Muli', serif;
  font-weight: 400;
}
p{
  margin: 0;
  font-family: 'Muli', serif;
  font-weight: 400;
}

a{
  margin:0;
}


/* zabránění podtržení textu po kliknutí na link */
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.page{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 950px;
}

.top-container{
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-bottom: 40px;
  padding-top: 20px;
}

.home-picture{
  width: 100%;
  max-width: 600px;
}

.inspirace-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 20px;
}

/*inspirace-kategorie-container slouží ke změně sloupců na stránce inspirace-all*/
.inspirace-kategorie-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 20px;
  height: fit-content;
  column-gap: 5px;
  row-gap: 20px;
}


.article-container{


  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 5px 5px;
  max-height: 600px;
}

.article-container:hover{
  box-shadow: 0px 0px 3px gray;
}

.category{
  color: rgb(160, 1, 1);
  margin-bottom: 8px;
  cursor: pointer;
}

.category:hover{
  text-decoration: underline;
}


.inspiration-overview{
  height: 100%;
  max-height: 400px;
  font-size: 24px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 10px;
}

.article-overview{
  height: 100%;
  font-size: 18px;
  line-height: 22px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 10px;
}

.author-and-date-container{
  display: flex;
  flex-direction: row;
  height: 20px;
  color: gray;
}

.author-of-article{
  padding-right: 15px;
}

.bottom-part-main-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 15px;
}

.continue-reading-container{
  display: block;

}
.continue-reading-link{
  color:rgb(159, 0, 0);
  font-size: 20px;
  
  cursor: pointer;
}

.continue-reading-link:hover{
  text-decoration: underline;
}


.articles-bottom-left-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  column-gap: 5px;
  row-gap: 20px;
}

.article-title{
  font-size: 22px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}

.inside-article-title{
  font-size: 26px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 20px;
}

.article-title:hover{
  text-decoration: underline;
}

.content-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 950px;
  padding-top: 25px;
}

.article-text{
  font-size: 24px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-bottom: 40px;
}

.odstavec{
  text-align: justify;
  text-justify: auto;
  font-size: 20px;
  line-height: 40px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-bottom: 25px;
}



.web-title{
  font-size: 30px;
  color: rgb(46, 46, 46);
}

.under-title{
  font-size: 20px;
  color: rgb(46, 46, 46);
}

@media (max-width:700px){
  .web-title{
    font-size: 22px;
  }
  .under-title{
    font-size: 16px;
  }
}

.home-icon{
  width: 20px;
  margin-right: 4px;
}

@media (max-width:700px){
  .inspirace-container{
    grid-template-columns: 1fr 1fr;
  }
  .inspiration-overview{
    font-size: 18px;
    line-height: 24px;
  }
}

.main-picture-small{
  max-width: 100%;
  width: 100%;
  margin-bottom: 40px;
}

.citace{
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
}

/* MENU*/
.menu-container{
  background-color: rgba(222, 254, 254, 0.547);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 600px;
  padding-bottom: 20px;
  flex:1;
  border: 1px solid rgb(206, 206, 206);
}
.menu-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 24px 0px;
  border-bottom: 1px solid rgb(206, 206, 206); 
}

.menu-bottom{
  padding: 10px 10px;
  margin: 0px 10px;
  display:flex;
  line-height: 35px;
  flex-direction: column;
  align-items: start;
  vertical-align: text-top;
  font-size: 15px;
  
}

.menu-bottom-media{
  padding: 10px 10px;
  margin: 0px 10px;
  display:flex;
  flex-direction: column;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
}

.menu-bottom-follow{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.menu-icon-container{
  width: 35px;
  height: 35px;
  margin-right: 20px;
  background-color: white;
  border-radius: 40px;
}

.menu-icon{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
}

.menu-icon:hover{
  opacity: 0.7;
}

.menu-item{
  line-height: 25px;
  padding-top: 6px;
  cursor: pointer;
  color: darkblue;
}



.table-item{
  line-height: 25px;
  padding-bottom: 12px;
  color: black;
  
}

.menu-item:hover{
  color: rgb(207, 10, 10);
  text-decoration: underline;
}

@media (max-width:800px){
  .menu-top{
    font-size: 18px;
  }
}

/* konec MENU*/
/* začátek spodní části (články+menu) */


@media (max-width:700px){
  .bottom-part-main-grid{
    grid-template-columns: 1fr;
    
    }
  .article-title{
    font-size: 20px;
  }
  .article-overview{
    font-size: 16px;
  }
}

  .video{
    margin-top: 40px;
  }


  .menu-index{
    border: none;
  }

  .article-main-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .header-content{
    position: fixed;
    top: 0;
    left:0;
    right:0;

  }

  .article-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
  }

  @media (max-width:700px){
    .article-grid{
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }

  .cathegory-all-articles-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

  }

  @media (max-width:700px){
    .cathegory-all-articles-grid{
      grid-template-columns: 1fr;
    }
  }
  .karavan-picture-top{
    width: 100%;
    margin-bottom: 30px;
  }
  .karavan-picture-bottom{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .karavan-picture-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 10px; 
    margin-bottom: 10px;
    row-gap: 50px;
  }

  @media (max-width:700px){
    .karavan-picture-grid{
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

  .picture-grid-typ-three{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 10px; 
    margin-bottom: 10px;
    row-gap: 50px;
  }

  @media (max-width:700px){
    .picture-grid-typ-three{
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

    .picture-grid-typ-two{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px; 
    margin-bottom: 10px;
    row-gap: 50px;
  }

  @media (max-width:700px){
    .picture-grid-typ-two{
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

  .text-underline:hover{
    text-decoration: underline;
  }