/* Import google font */


/* Styling gallery section where all images are */
.gallery {
	width: 90%;
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	justify-content:center;
	align-items: center;
}

/* Styling Particular Image */
.gallery-img {
  object-fit: cover;
	cursor: pointer;
	transition: transform 0.2s;
}
/* onHover image will expand little bit */
.gallery-img:hover {
	transform: scale(1.02);
  box-shadow: 0px 0px 5px gray;
	cursor: zoom-in;
	z-index: 0;
}
/* This section will be seen when we click on image */
.image-popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 200;
}

/* close button when we want to close the bigger image */
.close-button {
	position: absolute;
	top: 20px;
	right: 50px;
	font-size:60px;
	color: #fff;
	cursor: pointer;
  z-index: 100;
}
.close-button:hover{
	color: red;
}

.picture-next-button{
  position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 50%;
	right: 50px;
	font-size:30px;
	color: #fff;
	cursor: pointer;
  z-index: 100;
	height: 50px;
}

.picture-next-button:hover,
.picture-previous-button:hover{

	background-color: rgba(128, 128, 128, 0.327);
	border-radius: 5px;
}

.picture-next-button:active,
.picture-previous-button:active{

	background-color: rgba(192, 192, 192, 0.587);
	border-radius: 5px;
}

.picture-previous-button{
  position: absolute;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 50%;
	left: 50px;
	font-size:30px;
	color: #fff;
	cursor: pointer;
  z-index: 100;
	height: 50px;
}

/* when we click on the image it will expand in bigger size and will displayed
at middle of screen */
#popupImage {
	display: block;
	max-width: 90%;
	max-height: 100%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Making images more responsive for smaller size device */
@media (max-width:670px) {
	.gallery{
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 10px;
	}
	.gallery-img{
		width:150px;
		height: 150px;
	}

	.heading{
		font-size: 20px;
	}
}

